.main{
    width: 60%;
    margin: 0 auto;
}
.header{
    padding: 9px, 0px, 8px, 0px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(219, 219, 219, 1);
}
.logo img{
    box-sizing: border-box;
    width: 175px;
    height: 60px;
    display: inline-block;
}

.search{
    height: 100%;
    font-size: 14px;
    padding: 8px 20px;
    text-align: center;
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 3px;
    color: rgba(219, 219, 219, 1);
}
.search input{
    outline: none;
    font-size: 14px;
    text-align: center;
    border: none;
    color: rgb(0, 0, 0);
}
.icon-ellipsis{
    font-size: 10px;
    color: rgba(219, 219, 219, 1);
    cursor: pointer;
}
.nav_btns{
    color: rgba(38, 38, 38, 1);
    display: flex;
    gap: 22px;
}
.nav_btn button{
    font-size: 22px;
    color: rgba(38, 38, 38, 1);
    background-color: #fff;
    padding: 0;
    cursor: pointer;
}
.header_prof_pic img{
    height: 22px;
    width: 22px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}


.profile_info{
    margin: 50px auto;
    display: flex;
    width: 80%;
    align-items: center;
    margin-bottom: 100px;
}
.prof_pic{
    width: 150px;
    height: 150px;
    width: 30%;
}
.prof_info{
    width: 60%;
}
.prof_flex{
    padding-top: 20px;
    align-items: center;
    gap: 10px;
    display: flex;
}
.prof_flex h1{
    font-size: 28px;
    font-weight: 350;
    gap: 10px;
    display: flex;
}
.prof_flex button{
    width: 27%;
}
.prof_btn{
    background-color: transparent;
    color: black;
    text-align: left;
    font-size: 16px;
    padding-left: 0;
    cursor: pointer;
}
.prof_flex h2{
    font-size: 16px;
    font-weight: 600;
}
.prof_nav{
    border-top: 1px solid rgba(219, 219, 219, 1);
}
.post_btns{
    margin: 0 auto;
    justify-content: center;
    display: flex;
    height: 53px;
    width: 60%;
    align-items: center;
}
.prof_nav button{
    /* width: 114px; */
    background-color: transparent;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 17px, 60px, 17px, 0px;
    cursor: pointer;
}
.grid_posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px; 
  }
  
  .post {
    text-align: center;
  }
  
  .post img {
    width: 100%;
    height: auto;
  }
.post_btn{
    display: flex;
    align-items: center;
}
.post_btn button{
    padding: 0;
    padding-right: 50px;
    padding-left: 10px;
}


/* Ваш CSS-файл или компонент стилей */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    width: 45%;
    height: 80%;
    background: white;
    border-radius: 8px;
  }
  
/* Ваш CSS-файл или компонент стилей */
.close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    color: #fff; /* Цвет по вашему выбору */
  }
  .tittle {
    text-align: center;
    border-bottom: 1px solid blue;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
.photo_btn{
    text-align: center;
    display: flex;
    margin: auto;
    margin-top: 35%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.create_btn{
    width: 75%;
}
.post_img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.after_select{
    width: 60%;
    height: 80%;
    background: white;
    border-radius: 8px;
}
.post_img img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    object-fit: cover;
}
.box{
    display: flex;
    width: 60%;
    height: 90%;
}
.flex_jc_sb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.flex_jc_sb button{
    cursor: pointer;
    width: 14%;
    padding: 10px 0;
    font-size: 20px;
    height: 100%;
    color: black;
    background-color: transparent;
}
.blue p{
    color: rgb(0, 149, 246);
}
.no_rgba {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.boxes{
    display: flex;
}
.box{
    height: 100%;
}
.description{
    position: relative;
    border-bottom: 1px solid #DBDBDB;
    width: 40%;
    padding: 15px;
}
.lg{
    align-items: center;
    display: flex;
    justify-content: left;
}
.lg img{ 
    width: 30px;
    height: 30px;
    margin-right: 15px;    
}
.lg h4{
    font-size: 20px;
    font-weight: 550;
}
.description input{
    width: 90%;
    margin-top: 15px;
    border: none;
    outline: none;
    font-size: 16px;
}
.smile{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #8d8484;
}
.count_symbols{
    color: #8d8484;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.description input::placeholder {
    color: #8d8484;
  }
.post-info{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inform{
    display: flex;
    height: 100%;
}